<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/Screenshot 2024-10-21 112431.png">
    <title>SPS</title>
    <link rel="stylesheet" href="/static/index.css">

    <script>
        function resetForm() {
            document.getElementById("predictionForm").reset();
            document.getElementById("age").value = "0";
            document.getElementsByName("gender")[0].checked = true;
            document.getElementsByName("hypertension")[0].checked = true;
            document.getElementsByName("heart_disease")[0].checked = true;
            document.getElementById("marital_status").value = "0";
            document.getElementById("work_type").value = "0";
            document.getElementsByName("residence_type")[0].checked = true;
            document.getElementById("glucose").value = "0";
            document.getElementById("bmi").value = "0";
            document.getElementsByName("smoking_status")[0].checked = true;
            document.getElementsByName("alcohol_intake")[0].checked = true;
            document.getElementById("physical_activity").value = "0";
            document.getElementsByName("stroke_history")[0].checked = true;
            document.getElementsByName("family_history_stroke")[0].checked = true;
            document.getElementById("dietary_habits").value = "0";
            document.getElementById("stress_level").value = "0";
            document.getElementById("blood_pressure").value = "0";
            document.getElementById("prediction-result").innerHTML = "<h2>Prediction Result: N/A</h2>";
            document.getElementById("hdl").value = "0";
            document.getElementById("ldl").value = "0";
        }
    </script>

</head>
<body>
    <header class="top-bar">
        <div class="title-container">
            <img src="/static/images/Screenshot 2024-10-21 112431.png" alt="Logo" class="logo"> 
            <h1>Stroke Prediction System</h1>
        </div>
    </header>

    <div class="form-container">
        
        <form id="predictionForm" action="/" method="POST">
            <!-- Age -->
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" name="age" value="{{ age | default(0)}}" required>
            </div>

            <!-- Gender -->
            <div class="form-group">
                <label>Gender</label>
                <div class="radio-group">
                    <label>Male <input type="radio" name="gender" value="1" checked {% if gender == '1' %}checked{% endif %}></label>
                    <label>Female <input type="radio" name="gender" value="0" {% if gender == '0' %}checked{% endif %}></label>
                </div>
            </div>
        
            <!-- Hypertension -->
            <div class="form-group">
                <label>Hypertension</label>
                <div class="radio-group">
                    <label>No <input type="radio" name="hypertension" value="0" {% if hypertension == '0' %}checked{% endif %}></label>
                    <label>Yes <input type="radio" name="hypertension" value="1" checked {% if hypertension == '1' %}checked{% endif %}></label>
                </div>
            </div>
        
            <!-- Heart Disease -->
            <div class="form-group">
                <label>Heart Disease</label>
                <div class="radio-group">
                    <label>No <input type="radio" name="heart_disease" value="0" {% if heart_disease == '0' %}checked{% endif %}></label>
                    <label>Yes <input type="radio" name="heart_disease" value="1" checked {% if heart_disease == '1' %}checked{% endif %}></label>
                </div>
            </div>
        
            <!-- Average Glucose Level -->
            <div class="form-group">
                <label for="glucose">Average Glucose Level</label>
                <input type="float" id="glucose" name="glucose" value="{{ glucose | default(0)}}" required>
            </div>
        
            <!-- BMI -->
            <div class="form-group">
                <label for="bmi">BMI</label>
                <input type="float" id="bmi" name="bmi" step="0.1" value="{{ bmi | default(0)}}" required>
            </div>
        
            <!-- Smoking Status -->
            <div class="form-group">
                <label>Smoking Status</label>
                <div class="radio-group">
                    <label>Never <input type="radio" name="smoking_status" value="0" checked {% if smoking_status == '0' %}checked{% endif %}></label>
                    <label>Formerly <input type="radio" name="smoking_status" value="1" {% if smoking_status == '1' %}checked{% endif %}></label>
                    <label>Smokes <input type="radio" name="smoking_status" value="2" {% if smoking_status == '2' %}checked{% endif %}></label>
                </div>
            </div>
        
            <!-- Alcohol Intake -->
            <div class="form-group">
                <label>Alcohol Intake</label>
                <div class="radio-group">
                    <label>Never <input type="radio" name="alcohol_intake" value="0" checked {% if alcohol_intake == '0' %}checked{% endif %} required></label>
                    <label>Rarely <input type="radio" name="alcohol_intake" value="1" {% if alcohol_intake == '1' %}checked{% endif %} required></label>
                    <label>Social Drinker <input type="radio" name="alcohol_intake" value="2" {% if alcohol_intake == '2' %}checked{% endif %} required></label>
                    <label>Frequent Drinker <input type="radio" name="alcohol_intake" value="3" {% if alcohol_intake == '3' %}checked{% endif %} required></label>
                </div>  
            </div>
        
            <!-- Physical Activity -->
            <div class="form-group">   
                <label for="physical_activity">Physical Activity</label>
                <select id="physical_activity" name="physical_activity" required>
                    <option value="0" selected {%if physical_activity == '0' %}selected{% endif %}>Low</option>
                    <option value="1" {%if physical_activity == '1' %}selected{% endif %}>Moderate</option>
                    <option value="2" {%if physical_activity == '2' %}selected{% endif %}>High</option>
                </select>
            </div>
        
            <!-- Stroke History -->
            <div class="form-group">
                <label>Stroke History</label>
                <div class="radio-group">
                    <label>No <input type="radio" name="stroke_history" value="0" checked {% if stroke_history == '0' %}checked{% endif %}></label>
                    <label>Yes <input type="radio" name="stroke_history" value="1" {% if stroke_history == '1' %}checked{% endif %}></label>
                </div>
            </div>


            <!-- Stress Levels -->
            <div class="form-group">
                <label for="stress_level">Stress Levels</label>
                <select id="stress_level" name="stress_level" required>
                    <option value="1" selected {% if stress_level == '1' %}selected{% endif %}>Low Stress</option>
                    <option value="2" {% if stress_level == '2' %}selected{% endif %}>Moderate Stress</option>
                    <option value="0" {% if stress_level == '0' %}selected{% endif %}>High Stress</option>
                </select>
            </div>


            <!-- Systolic Levels -->
            <div class="form-group">
                <label for="hdl">Systolic value</label>
                <input type="number" id="systolic" name="systolic" value="{{ systolic | default(0)}}" required>
            </div>

            <!-- Diastolic -->
            <div class="form-group">
                <label for="ldl">Diastolic value</label>
                <input type="number" id="diastolic" name="diastolic" value="{{ diastolic | default(0)}}" required>
            </div>


            <!-- HDL Cholesterol Levels -->
            <div class="form-group">
                <label for="hdl">HDL Cholesterol Levels</label>
                <input type="number" id="hdl" name="hdl" value="{{ hdl | default(0)}}" required>
            </div>

            <!-- LDL Cholesterol Levels -->
            <div class="form-group">
                <label for="ldl">LDL Cholesterol Levels</label>
                <input type="number" id="ldl" name="ldl" value="{{ ldl | default(0)}}" required>
            </div>


            <!-- Submit and Reset Buttons -->
            <div class="form-group button-group">
                <button type="button" class="form-button" onclick="resetForm()">Reset</button>
                <input type="submit" value="Predict" class="form-button">
            </div>
        </form>

        <!-- Display the prediction result, if any -->
        {% if prediction %}
        <div id="prediction-result" class="result">
            {% if prediction %}
                <h2>Prediction Result: {{ prediction }}</h2>
            {% else %}
                <h2>Prediction Result: N/A</h2>
            {% endif %}
        </div>
        {% endif %}
    </div>

    
</body>
</html>